/* Hide vertical scrollbar while allowing scrolling */
.intro_slide {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.intro_slide::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.panel {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
}